body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

* {
    font-family: Arial, sans-serif;
}

.light-grey-1 {
    background-color: #f9f9f9;
}

.light-grey-2 {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    text-align: center;
}

.top-section {
    display: flex;
    height: 55%;
    width: 90%;
    align-self: center;
}

.graph-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-textbox {
    width: fit-content;
}

.feature-chart-container {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 50%;
}

.dropdown-button {
    background-color: white;
    border-color: #cccccc;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    width: 100%;
}

.arrow {
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.controls-tab {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    height: 12%;
    justify-content: space-between;
}

.show {
    display: block;
}

.blue-button {
    background-color: #e6f2ff;
    border: 1px solid #b0c4de;
    padding: 8px 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.8);
    background-image: linear-gradient(to bottom, #f5f9ff, #e6f2ff);
}

.blue-button-a {
    width: 45%;
    margin: 0px 3px;
}

.blue-button:hover {
    background-color: #d0e7ff;
    border-color: #a0b8cc;
}

.blue-button:active {
    background-color: #c0d9ff;
    border-color: #90aacb;
}