#header-table,
#data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Ensures fixed layout for consistent column widths */
}

#header-table th,
#data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#header-table th {
    background-color: #f2f2f2;
    color: black;
}

#data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#data-table tr:hover {
    background-color: #ddd;
}

.table-container {
    position: relative;
}

.table-header-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table-body-container {
    max-height: 350px;
    /* Adjust as needed */
    overflow-y: auto;
}