#header-table,
#data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Ensures fixed layout for consistent column widths */
}

#header-table th,
#data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#header-table th {
    background-color: #f2f2f2;
    color: black;
}

#data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#data-table tr:hover {
    background-color: #ddd;
}

.table-container {
    position: relative;
}

.table-header-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table-body-container {
    max-height: 350px;
    overflow-y: auto;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    display: none;
    z-index: 1000;
    max-width: 200px;
    word-wrap: break-word;
}

.img {
    width: 25px;
    height: 25px;
    transition: transform 0.2s;
    /* Add transition for smooth scaling */
}

.img.large {
    transform: scale(10);
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5);
    transform-origin: center;
}